@import "tailwindcss";

@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}
